In [6]:
import pandas as pd

# http://www.swarthmore.edu/NatSci/peverso1/Sports%20Data/JamesSteinData/Efron-Morris%20Baseball/DataDescription2a.txt

url = 'http://www.swarthmore.edu/NatSci/peverso1/Sports%20Data/JamesSteinData/Efron-Morris%20Baseball/EfronMorrisBB.txt'
data = pd.read_table(url)
data

,FirstName,LastName,At-Bats,Hits,BattingAverage,RemainingAt-Bats,RemainingAverage,SeasonAt-Bats,SeasonHits,SeasonAverage
0,Roberto,Clemente,45,18,0.400,367,0.3460,412,145,0.352
1,Frank,Robinson,45,17,0.378,426,0.2981,471,144,0.306
2,Frank,Howard,45,16,0.356,521,0.2764,566,160,0.283
3,Jay,Johnstone,45,15,0.333,275,0.2218,320,76,0.238
4,Ken,Berry,45,14,0.311,418,0.2727,463,128,0.276
5,Jim,Spencer,45,14,0.311,466,0.2704,511,140,0.274
6,Don,Kessinger,45,13,0.289,586,0.2645,631,168,0.266
7,Luis,Alvarado,45,12,0.267,138,0.2101,183,41,0.224
8,Ron,Santo,45,11,0.244,510,0.2686,555,148,0.267
9,Ron,Swaboda,45,11,0.244,200,0.2300,245,57,0.233
10,Rico,Petrocelli,45,10,0.222,538,0.2639,583,152,0.261
11,Ellie,Rodriguez,45,10,0.222,186,0.2258,231,52,0.225
12,George,Scott,45,10,0.222,435,0.3034,480,142,0.296
13,Del,Unser,45,10,0.222,277,0.2635,322,83,0.258
14,Billy,Williams,45,10,0.222,591,0.3299,636,205,0.251
15,Bert,Campaneris,45,9,0.200,558,0.2849,603,168,0.279
16,Thurman,Munson,45,8,0.178,408,0.3162,453,137,0.302
17,Max,Alvis,45,7,0.156,70,0.2000,115,21,0.183